
@{
    ViewBag.Title = "Student";
}

<h2>Student Data Base</h2>

<p>@ViewBag.Message</p>

<form method="post">
    <div>
        <textarea name="FirstName"></textarea>
    </div>
    
    <textarea name="LastName"></textarea>
    <input type="submit" value="Send" />
</form>